@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --primary-color: #007AF3;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: 'Poppins';
}

.navbar {
  background: #FFFFFF;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: 700;
  color: #193366;
  font-size: 1.2em;
}

.navbar .logo img {
  width: 15%;
}

.navbar .logo span {
  color: var(--primary-color);
  display: block;
  line-height: .5em;
}

.navbar nav {
  display: none;
  padding-bottom: 0;
  padding-left: 20%;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.hero-left-col .subhead {
  font-weight: 400;
  color: gray;
}

.hero-left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin: .1em 0;
}

.hero-left-col .primary-cta {
  background: var(--primary-color);
  color: #FFFFFF;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1em;
  border-radius: .5em;
  font-weight: 400;
  display: inline-block;
}

.hero-left-col .primary-cta:hover {
  background: #1c4eb3;
  color: #FFF;
  font-weight: 500;
}

.hero-img {
  width: 80%;
  margin-top: 3em;
}

section.about-us,
section.contact-section {
  background: #FFFFFF;
}

.contact-left h1 {
  text-align: center;
}

.about-us {
  text-align: center;
}

.about-us h1 {
  text-align: left;
}

.about-us .about-text {
  text-align: justify;
}

.aboutus-img {
  width: 80%;
  margin-top: 3em;
  text-align: center;
}

.get-started {
  padding: 0;
}

.get-started h1 {
  text-align: center;
}

.get-started h2 {
  font-weight: 600;
}

.get-started li {
  text-align: center;
  padding: 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

.get-started li img {
  width: 40%;
  height: auto;
}

.get-started li a {
  text-decoration: none;
  color: #999999;
  border: 2px solid var(--primary-color);
  border-radius: .5em;
  padding: 5px 19px;
}

.get-started li a:hover {
  background: var(--primary-color);
  color: white;
}

.contact-section {
  padding: .5em;
}

input,
textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=submit] {
  background-color: var(--primary-color);
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1.3em;
  border: none;
  padding: .4em .2em;
  border-radius: .5em;
  display: inline-block;
  cursor: pointer;
}

iframe {
  width: 100%;
  border-radius: .5em;
  -webkit-box-shadow: 0 10px 20px 4px #00000020;
          box-shadow: 0 10px 20px 4px #00000020;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #012640;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: 500;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

.footer-section {
  padding: 0;
  background: #012640;
  padding: 1em 0 2em 1em;
}

.footer-section .container {
  display: block;
  color: #FFF;
}

.footer-section .child h5 {
  font-size: 1em;
  margin-bottom: 1em;
  padding: 0;
}

.footer-section .child li {
  font-size: .8em;
  margin: .4em 0 .4em 0;
}

.footer-section .child li i {
  padding-right: .8em;
}

.footer-section .child li p {
  display: inline;
}

.footer-section .child li a {
  color: #fff;
  text-decoration: none;
}

.footer-section .child li a:hover {
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding-top: 5px;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: #000000;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: 700;
  }
  .navbar nav li.login-cta a {
    color: #fff;
    border: none;
    background: var(--primary-color);
    font-weight: 400;
    border-radius: .5em;
    padding: .6em 1.3em;
    margin-top: -.2em;
  }
  .navbar nav li.login-cta a:hover {
    background: #1c5ee0;
    color: #FFF;
    font-weight: 500;
    border-radius: .5em;
  }
  .navbar nav .get-started h1 {
    text-align: left;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .navbar {
    padding: 1em 1em 1em 5em;
  }
  section {
    padding: 5em 4em 10em 5em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .hero-left-col {
    margin: 5em 0 0 5em;
  }
  .hero .container .hero-left-col .subhead {
    width: 60%;
  }
  .hero .container .hero-left-col h1 {
    font-size: 3em;
    width: 100%;
  }
  .hero-img {
    width: 40%;
  }
  .about-us .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .about-us .container .about-left-col {
    width: 60%;
  }
  .about-us .container .about-left-col h1 {
    font-size: 2em;
  }
  .about-us img {
    width: 50%;
    margin-right: 1em;
  }
  .get-started {
    padding: 2em 4em 8em 5em;
  }
  .get-started h1 {
    text-align: center;
    font-size: 2em;
  }
  .get-started h2 {
    font-size: 1.1em;
    font-weight: 600;
  }
  .get-started p {
    color: #999999;
    padding-bottom: 2em;
  }
  .get-started a {
    padding: 0;
  }
  .get-started ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .get-started ul li {
    width: 25%;
    margin: 0 1em;
  }
  .contact-section {
    position: relative;
    padding: 2em 4em 5em 5em;
  }
  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-left {
    width: 100%;
  }
  .contact-left h1 {
    text-align: left;
    font-size: 2em;
  }
  .contact-left #fname {
    width: 48.5%;
    margin-right: 1em;
    float: left;
  }
  .contact-left #lname {
    position: relative;
    width: 48.9%;
    float: left;
  }
  .contact-right {
    position: relative;
    width: 100%;
    margin: 6em 0 0 2em;
    padding-right: 0 15px 0 15px;
  }
  .footer-section {
    position: relative;
    background: #012640;
    padding: 2em 4em 5em 5em;
  }
  .footer-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-section .child {
    width: 100%;
  }
  .footer-section #child1,
  .footer-section #child2 {
    padding-right: 7em;
  }
  .footer-section #child3 {
    width: 80%;
  }
}
/*# sourceMappingURL=main.css.map */